:root {
  --color-primary: #3f1e4b; 
  --color-secondary: #373d56; /* Texto Principal */
  --color-highlight: #ee24ff; /* "destino" */
  --color-footer: #3f1e4b;
  --color-text-light: #5f5f5f;
  --color-background-light: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif; 
  background-color: #ffffff;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-area {
    flex-grow: 1; 
    width: 100%;
}

.page-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;
}